@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&display=swap');

#portfolio{
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(45deg, #004aff 13%, #ffc1c1 );
  position: relative;
}
