#logocontainer{
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logotext{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2em;
  font-weight: 500;
  display: block;
  color: white;
}

@media only screen and (max-width: 768px){
  #logotext{
    font-size: 1em!important;
  }
}
